.banner {
  height: 70vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  color:white;
  text-align: center;
}

.banner-content h1 {
  font-size: 50px;
  font-weight: bold;
}

.banner-content p {
  font-size: 20px;
  margin-bottom: 40px;
}

input {
  height: 30px;
}

