<ul class="list-inline text-center">
  <% ["buddy-1", "buddy-2"].each do |member| %>
    <li>
      <%= image_tag "#{member}.png", class: "img-circle" %>
      <h3><%= member.capitalize %></h3>
    </li>
  <% end %>
</ul>
